/* https://codepen.io/mandelid/pen/kNBYLJ */

#loading {
    position: relative;
    top: 35%;
    left: 45%;
    z-index: 10;
    display: inline-block;
    width: 300px;
    height: 300px;
    border: 15px solid rgba(255, 255, 255, .3);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1s linear infinite;
    -webkit-animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}